<div class="small-6 small-offset-3 columns">
  <div class="callout primary">
    <h3>IP</h3>
    <p>"<%= @ip %>"</p>
  </div>

  <div class="callout primary">
    <h3>Location</h3>
    <p>
      <%= @geolocation.city %>,
      <%= @geolocation.state %>,
      <%= @geolocation.country %>
    </p>
  </div>

  <div class="callout primary">
    <h3>Weather</h3>
    <p>
      <%= @weather.weather %>
      <%= @weather.temp %>
    </p>
  </div>

  <div class="callout primary">
    <h3>Today's Events</h3>
    <ul><% @events.display.each do |event| %>
      <li><%=event%></li>
      <% end %>
    </ul>
  </div>

  <div class="callout primary">
    <h3>Today's Top Stories</h3>
    <ul> <% @news.display.each do |story| %>
      <li>
        <h4><%= story.title %></h4>
        <% unless story.thumbnail == "default" %>
        <img src="<%= story.thumbnail %>" alt="thumbnail"/>
        <% end %>
        <h5><%= story.abstract %></h5>
        <a href="<%= story.url %>"><%= story.url %></a>
        <% end %>
      </li>
    </ul>
  </div>

</div>
